/* hourly forcast page */
.container2{
    background: url(/assets/defaultbackground.jpg);
    background-size:cover;
    background-repeat:no-repeat ;
    height: 41vw;
    width: 35vw;
    display: flex;
  position: absolute;
  left: 0;
  
  
  }
  .container{
    
   
    display:flex;
    /* align-items: center; */
    height: 41vw;
    width: 60vw;
    background-color: rgba(7, 0, 0, 0.381);
    backdrop-filter: blur(8px);
    margin-top: 50px;
    animation-name: container;
    animation-duration: 1s;
  }
  .city{
    display: flex;
    position: absolute;
    top: 1rem;
    font-size: 3vw;
  }
  .title{
      display:flex;
      position:absolute;
      align-items: center;
      top: 0vw;
      right: 0vw;
      width: 25vw;
      height: 3vw;
      margin-bottom: 20px;
    }
    #title{
      display: flex;
      position: absolute;
      align-items: center;
      font-weight: 500;
      width: 25vw;
      height: 3vw;
      justify-content: center;
      text-transform: capitalize;
      font-size: 1.5vmin;
    }
    .day{
      display:flex;
      position:absolute;
      align-items: center;
      justify-content: center;
      right: 0vw;
      top: 2vw;
      width: 25vw;
      height: 3vw;
      border: 1px solid rgb(0, 0, 0);
      /* margin-top: 6vw; */
    }
    .time{
      display: flex;
      position: absolute;
      justify-content:left;
      align-items: center;
      left: 0.5vw;
      font-size: 1vmax;
    }
    .dayhumidity{
      display: inline;
      position: absolute;
      right: 2vw;
      font-size: .7vmax;
  
    }
    .humidityicon{
      display: inline;
      position: absolute;
      font-size: .9vmax;
      left: 0;
      align-items: center;
      color:aqua;
      
    }
    .aqi{
      display: inline;
      position: absolute;
      right: 7vw;
      font-size: .7vmax;
  
    }
    .daytemp{
      display: inline;
      position: absolute;
      right: 12vw;
    }
    .day2 {
      display:flex;
      position:absolute;
      align-items: center;
      border: 1px solid rgb(0, 0, 0);
      top: 8vw;
      right: 0vw;
      width: 25vw;
      height: 3vw;
      /* margin-top: 1vw; */
    
    }
    .day3{
      display:flex;
      position:absolute;
      align-items: center;
      top: 14vw;
      right: 0vw;
      border: 1px solid rgb(0, 0, 0);
      width: 25vw;
      height: 3vw;
      margin-bottom: 2vw;
    }
    .day4{
      display:flex;
      position:absolute;
      align-items: center;
      top: 20vw;
      right: 0vw;
      border: 1px solid rgb(0, 0, 0);
      width: 25vw;
      height: 3vw;
      margin-bottom: 2vw;
    }
    .day5{
      display:flex;
      position:absolute;
      align-items: center;
      top: 26vw;
      right: 0vw;
      border: 1px solid rgb(0, 0, 0);
      width: 25vw;
      height: 3vw;
      margin-bottom: 2vw;
    
    }
 
    
    .daytemp{
      font-size: .7vmax;
  
    }
    .tempicon{display: inline;
      position: absolute;
      font-size: 1.2vmax;
      left: 0;
      align-items: center;
      color:rgb(255, 0, 0);
    }
      .feellikeicon{
        display: inline;
        position: absolute;
        font-size: 1.2vmax;
        left: 0;
        align-items: center;
        color:aqua;
  
      }
      .rainicon{
        display: inline;
        position: absolute;
        font-size: 1.2vmax;
        left: 0;
        align-items: center;
        color:aqua;
      }
      .windicon{
        display: inline;
        position: absolute;
        font-size: 1.2vmax;
        left: 0;
        align-items: center;
        color:aqua;
  
      }
      .pressureicon{
        display: inline;
          position: absolute;
          font-size: 1.2vmax;
          left: 0;
          align-items: center;
          color:aqua;
        }
    i{
      display: inline;
      position: absolute;
      right: 0.3vw;
      font-size: 1.2vmax;
    }
    .acco{
      display:flex;
      position:absolute;
      align-items: center;
      /* border: px solid white; */
      margin-top: 8vw;
      right: 0vw;
      width: 25vw;
      height: 3vw;
      margin-bottom: 2vw;
      visibility:visible;
      opacity: 5;
    overflow: hidden;
    transition: opacity 6s ease-in-out, height 6s ease-in-out;
      
    }
    .feellike{
      display: inline;
      position: absolute;
      left: 1vmax;
      font-size: .7vmax;
      left: 2vmax;
  
  
    }
    .daywind{
      display: inline;
      position: absolute;
      margin-left: 9vw;
      font-size: .7vmax;
  
    }
    .rainchances{
      display: inline;
      position: absolute;
      font-size: .7vmax;
  
     left: 16vmax;
    }
    .pressure{
      display: inline;
      position: absolute;
      font-size: .7vmax;
    right: 2vmax;
    }
   
    .search1 input {
      height: 3vw;
      position: absolute;
      width: 18vw;
      height: 2vw;
      background: transparent;
      outline: none;
      border: none;
      color: white;
      font-size: 1.5vw;
      font-weight: 200;
      text-transform: uppercase;
      right: 5vw;
      top: 5vw;
    }
      .search1 button{
      position: absolute;
        text-transform: uppercase;
        right: 0vw;
        top: 4vw;
        position: absolute;
        background: transparent;
        border: none;
        outline: none;
        font-size: 2vw;
        cursor: pointer;
        color: #000;
    }
    .scroll{
      top: 8vw;
      height: 31vw;
      width: 25vw;
      right: 0;
      position: absolute;
  
    }
    @media only screen and (max-width:9000px) {
      
      .scroll{
          justify-content: start;
          align-items: start;
          overflow-x: scroll;
      margin-top: 2px; 
      margin-bottom: 8vw;
  
      }
  }.scroll::-webkit-scrollbar{
      
    display:none;}
    