.search3{
    display: flex;
    z-index: 1000;
    position:absolute;
    right: 0;
    top: 4rem;
  }
  .search3 input{
    position:absolute;
    top: 0.3vw;
    right: 9.5rem;
    background-color:aliceblue;
    text-transform: capitalize;
    text-indent: 10px;
    color: black;
  }
  .search3 button{
    display: flex;
    position:fixed;
    right:  6rem;
    font-size: 1.1rem;
    border: none;
    background-color: transparent;
  }