:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
margin: 0;
padding: 0;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background: url(/assets/background.jpg);
  background-size:cover;
  background-repeat:no-repeat ;
  color: #f9f9f9;
  overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width:600px) {
  .container{ display:flex;
    /* align-items: center; */
    height: 50vh;
    width: 100vw;

    position:absolute;
    top:15vh;
    left: 0;
    background-color: rgba(7, 0, 0, 0.381);
    backdrop-filter: blur(8px);
    animation-name: container;
    justify-content: center;
    animation-duration: 1s;
    animation-delay: .1s;}
    @keyframes container{
      from{
        width:55vw ;
        opacity: 0.5;
        visibility: hidden;
      }
      to{
       width: 100vw;
       opacity: 1;
       visibility:visible;
      
      }
    }
    .container2{
      background: url(/assets/defaultbackground.jpg);
      background-size:cover;
      background-repeat:no-repeat ;
      height: 50vh;
      width: 50vw;
      display: flex;
    position: absolute;
    left: 0;
   
  
    }
    .container3{
    
      display:flex;
      /* align-items: center; */
      height: 50vh;
      width: 100vw;
      position: absolute;
      top:15vh ;
      left: 0;
     justify-content: center;
      background-color: rgba(7, 0, 0, 0.381);
      backdrop-filter: blur(8px);
      margin-top: 50px;
    }
    .current-time{
      display: flex;
     position: absolute;
     bottom: 3vmax;
     left: 1vmax;
     font-size: 4.5vmax;
    }
    .current-date{
      display: flex;
     position: absolute;
     bottom: 1vmax;
     left: 1vmax;
     font-size:1.5vmax;
    }
    img{

      width: 15%;
      display:flex;
      position: absolute;
      top: 2.5vw;
      right: 17vw;
    }
    .weather-details{
      width: calc(100vw - 51vw);
      
      text-align: center;
      display: flex;
      justify-content: center;
      position: absolute;
      right: 1%;
      font-size: 2vw;
      color:white;
      top: 11vh;
    }
    .line{
      height: 1px;
    width:calc(100vw - 51vw);
      background-color: black;
      position: absolute;
      top: 13vh;
      right: 1vw;

    }
    .search input{
      position: absolute;
        width:calc(100vw - 57vw);
        height: 2vh;
        outline: none;
        border: none;
        color: white;
        border-radius: 10px;
        font-size: 1.5vw;
        font-weight: 200;
        text-transform: uppercase;
        right: 5.5vw;
        top: 14vh;
    }
    .search button{
      position: absolute;
        font-weight: 200;
        text-transform: uppercase;
        right: 0vw;
        top: 13.3vh;
        position: absolute;
        background: transparent;
        border: none;
        outline: none;
        font-size: 2.6vw;
        cursor: pointer;
    }
    .line2{
      height: 1px;
    width: calc(100vw - 51vw);
      position: absolute;
      top: 16vh;
      background-color: black;
    
      right: 1vw;
    }
    .city2{
      width: calc(100vw - 51vw);
      display: flex;
      position: absolute;
      text-align: center;
      justify-content: center;
      right: 1vw;
      font-size: 2vw;
      top: 16.5vh;
    }
    .line3{
      height: 1px;
    width: calc(100vw - 51vw);
    background-color: black;
      position: absolute;
      top: 19vh;
      right: 1vw;
    }
    .temp1{
      width: calc(100vw - 51vw);
      display: flex;
      position: absolute;
      right: 1vw;
      font-size: 2vw;
      top: 20vh;
      height: 2.5vw;
    }
    .span-temp{
      display:flex;
     justify-content: space-evenly;
     position: absolute;
     right: 0;
    }
    .line4{
      height: 1px;
    width: calc(100vw - 51vw);
      background-color: black;
      position: absolute;
      top: 22.5vh;
      right: 1vw;
    }
    .humidity{
      height: 2.5vw;
      width: calc(100vw - 51vw);
      display: flex;
      position: absolute;
      right: 1vw;
      font-size: 2vw;

      top: 23.5vh;
    }
    .span-humidity{
      margin-left: 9vw;
position: absolute;
     right: 0;     }
     .line5{
      height: 1px;
      width: calc(100vw - 51vw);
      position: absolute;
      background-color: black;
      top: 26.5vh;
      right: 1vw;
    }
    .wind{
      height: 2.5vw;
      width: calc(100vw - 51vw);
      display: flex;
      position: absolute;
      right: 1vw;
      font-size: 2vw;
      top: 27.5vh;
    }
    .span-wind{
      margin-left: 8vw;
      position: absolute;
      right: 1vw;     }
     .line6{
      height: 1px;
      width: calc(100vw - 51vw);
      background-color: black;
      position: absolute;
      top: 30.5vh;
      right: 1vw;
    }
    .loaderimg{
      display: flex;
      align-items:start;
      justify-content: center;
      width: 25vh;
      margin: -5vw 13vw 0 13vw;
    }
    h3{
      margin-top: 20vh;
    }

/* hourly forcast page */



.title{
    display:flex;
    position:absolute;
    align-items: center;
    top: 0vw;
    justify-content: center;
    width: calc(100vw - 51vw);
    height: 3vw;
    margin-bottom: 20px;
  }
  #title{
    display: flex;
    position: absolute;
    align-items: center;
    font-weight: 500;
    width: 25vw;
    height: 3vw;
    justify-content: center;
    text-transform: capitalize;
    font-size: 1.5vmin;
  }
  .hours ,.day{
    display:flex;
    position:absolute;
    align-items: center;
    justify-content: center;
    right: 0vw;
    top: 2vw;
    width: calc(100vw - 50vw);
    height: 3vw;
    border: 1px solid rgb(3, 0, 0);
    /* margin-top: 6vw; */
  }
  .time{
    display: flex;
    position: absolute;
    font-size: .7vmax;
    width: 8vmax;
    justify-content: left;
  }
  .hourlyhumidity{
    display: inline;
    position: absolute;
    right: 3vw;

    font-size: .7vmax;

  }
  .humidityicon{
    display: inline;
    position: absolute;
    font-size: .9vmax;
    right: 4.5vw;
    align-items: center;
    color:aqua;
    
  }
  .aqi{
    display: inline;
    position: absolute;
    left: 19.5vw;
    font-size: .7vmax;

  }
  
    

  
  .hours2,.day2 {
    display:flex;
    position:absolute;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    top: 8vw;
    right: 0vw;
    width: calc(100vw - 50vw);
    height: 3vw;
    /* margin-top: 1vw; */
  
  }
  .hours3, .day3{
    display:flex;
    position:absolute;
    align-items: center;
    top: 14vw;
    right: 0vw;
    border: 1px solid rgb(0, 0, 0);
    width: calc(100vw - 50vw);
    height: 3vw;
    margin-bottom: 2vw;
  }
  .hours4,   .day4{
    display:flex;
    position:absolute;
    align-items: center;
    top: 20vw;
    right: 0vw;
    border: 1px solid rgb(0, 0, 0);
    width: calc(100vw - 50vw);
    height: 3vw;
    margin-bottom: 2vw;
  }
  .hours5, .day5{
    display:flex;
    position:absolute;
    align-items: center;
    top: 26vw;
    right: 0vw;
    border: 1px solid rgb(0, 0, 0);
    width: calc(100vw - 50vw);
    height: 3vw;
    margin-bottom: 2vw;
  
  }
  .hours6{
    display:flex;
    position:absolute;
    align-items: center;
    top: 32vw;
    right: 0vw;
    border: 1px solid rgb(0, 0, 0);
    width: calc(100vw - 50vw);
    height: 3vw;
    margin-bottom: 2vw;
  
  }
  .hours7{
    display:flex;
    position:absolute;
    align-items: center;
    top: 38vw;
    right: 0vw;
    border: 1px solid rgb(0, 0, 0);
    width: calc(100vw - 50vw);
    height: 3vw;
    margin-bottom: 2vw;
  
  }
  .hours8{
    display:flex;
    position:absolute;
    align-items: center;
    top: 44vw;
    right: 0vw;
    border: 1px solid rgb(0, 0, 0);
    width: calc(100vw - 50vw);
    height: 3vw;
    margin-bottom: 8vw;
  
  }
  .hourlytemp{ display:inline;
    position: absolute;
  left: 4vw;
    font-size: .7vmax;

  }
  .tempicon{display: inline;
    position: absolute;
    font-size: 1.2vmax;
    left: 10vw;
    align-items: center;
    color:rgb(255, 0, 0);
  }
    .feellikeicon{
      display: flex;
      position: absolute;
      font-size: 1vmax;
      justify-content: center;
      align-items:start;
      color:aqua;

    }
    .rainicon{
      display: inline;
      position: absolute;
      font-size: 1.2vmax;
      left: 0;
      align-items: center;
      color:aqua;
    }
    .windicon{
      display: inline;
      position: absolute;
      font-size: 1.2vmax;
      left: 0;
      align-items: center;
      color:aqua;

    }
    .pressureicon{
      display: inline;
        position: absolute;
        font-size: 1.2vmax;
        left: 0;
        align-items: center;
        color:aqua;
      }
  i{
    display: inline;
    position: absolute;
    right: 0.3vw;
    font-size: 1.2vmax;
  }
  .acco{
    display:flex;
    position:absolute;
    align-items: center;
    /* border: px solid white; */
    margin-top: 8vw;
    right: 0vw;
    width: calc(100vw - 50vw);
    height: 3vw;
    margin-bottom: 2vw;
    visibility:visible;
    opacity: 5;
  overflow: hidden;
  transition: opacity 6s ease-in-out, height 6s ease-in-out;
    
  }
  .feellike{
    display: inline;
    position: absolute;
    font-size: .7vmax;
    left: 2.7vw;


  }
  .hourlywind,.daywind{
    display: inline;
    position: absolute;
    margin-left: 15vw;
    font-size: .7vmax;

  }
  .rainchances{
    display: inline;
    position: absolute;
    font-size: .7vmax;

   left: 20vmax;
  }
  .pressure{
    display: inline;
    position: absolute;
    font-size: .7vmax;
  right: 2vmax;
  }
 
  .search1 input {
    height: 3vw;
    position: absolute;
    width: calc(100vw - 60vw);
    height: 2vw;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 1.5vw;
    font-weight: 200;
    text-transform: uppercase;
    right: 5vw;
    top: 5vw;
  }
    .search1 button{
    position: absolute;
      text-transform: uppercase;
      right: 0vw;
      top: 4vw;
      position: absolute;
      background: transparent;
      border: none;
      outline: none;
      font-size: 2vw;
      cursor: pointer;
      color: #000;
  }
  .scroll{
    top: 8vw;
    height: 50vh;
    width: calc(100vw - 50vw);
    right: 0;
    position: absolute;

  }
  @media only screen and (max-width:9000px) {
    
    .scroll{
        justify-content: start;
        align-items: start;
        overflow-x: scroll;
    margin-top: 2px; 
    margin-bottom: 8vw;

    }
}.scroll::-webkit-scrollbar{
    
  display:none;}
  

/* day forcast page */

  
 
 
    
  
  .dayhumidity{
    display: inline;
    position: absolute;
    right: 4vw;
    font-size: .7vmax;

  }
  .humidityicon{
    display: inline;
    position: absolute;
    font-size: .9vmax;
    left: 0;
    align-items: center;
    color:aqua;
    
  }
  .aqi{
    display: inline;
    position: absolute;
    right: 7vw;
    font-size: .7vmax;

  }
  .daytemp{
    display:inline;
    position: absolute;
  left: 4vw;
  }
  
  

  
  .tempicon{display: inline;
    font-size: 1.2vmax;
    position:absolute;
    left: 14vw;
    align-items: center;
    color:rgb(255, 0, 0);
  }
   
   
    
    
  i{
    display: inline;
    position: absolute;
    right: 0.3vw;
    font-size: 1.2vmax;
  }
  
  

  
  
 
  
}
